### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

/var/log/*
!/var/log/.gitkeep

.env.local
.env.*.local
.env
/apps/main/resources/.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
